<!--mat-toolbar color="primary">
  <span><mat-icon>mood</mat-icon></span>
  <span>
    app
    </span>

</mat-toolbar-->


<mat-card>
  <mat-card-title>
    Registro de usuario
  </mat-card-title>
  <mat-card-content>
    <form class="example-form" [formGroup]="form">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="name" placeholder="Nombre" >


        <mat-error *ngFor="let validation of validation_messages.name">
          <mat-error class="error-message" *ngIf="form.get('name').hasError(validation.type) && (form.get('name').dirty || form.get('name').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
        

        <!--mat-error *ngIf="form.get('name').hasError('required')">
          Nombre es requerido
        </mat-error>
        <mat-error *ngIf="form.get('name').hasError('minLength')">
          Minimo 9 letras
        </mat-error-->
      </mat-form-field>

      <!--mat-form-field class="example-full-width">
        <input matInput formControlName="email" errorStateMatcher="matcher" placeholder="Correo">
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
          Email invalido
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <div [formGroup]="pass">
        <mat-form-field class="example-full-width">
          <input matInput="password" formControlName="password" errorStateMatcher="matcher" placeholder="Password">
          <mat-error *ngIf="password.hasError('required')">
            Ingrese contraseña
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput="password" formControlName="rePassword" placeholder="Reingrese password">
        </mat-form-field>
      </div-->

      <button mat-button color="primary" type="submit" (click)="create();" [disabled]="!form.valid">Registrar</button>
    </form>
    <pre>{{form.value | json}}</pre>
    <p>Validation status: {{ form.status }}</p>
  </mat-card-content>
</mat-card>


